body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input {
    border: none;
    outline: none;
    font-family: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
