.layout-press {
    display: flex;
    height: 100vh;
    flex-direction: row;
    background-color: #f7f7f7;

    &-categories,
    &-articles,
    &-article {
        flex-shrink: 0;
        overflow: auto;
    }
    
    &-categories {
        width: 270px;
        background-color: #f3f5f8;
    }
    
    &-articles {
        position: relative;
        width: 340px;
        background-color: #fff;
    }
    
    &-article {
        flex: auto;
        background-color: #f3f5f8;
    }
}
