.container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    background-color: #f7f7f7;
}

.categories {
    margin-right: 10px;
    width: 200px;
    background-color: #fff;
}

.articles {
    margin-right: 10px;
    width: 300px;
    background-color: #fff;
}

.article {
    flex: auto;
    background-color: #fff;
}